<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kancelaria</title>
    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-1">
            <div class="container">
                
                <div>
                <a  class="navbar-brand" asp-area="" asp-page="/Index" asp-active-route >Kancelaria</a>
                </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul id="linkList" class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a  asp-active-route  id="link-to-kontakt"  class="nav-link text-white" asp-area="" asp-page="/Kontakt">Kontakt</a>
                        </li>
                        <li  class="nav-item">
                            <a  asp-active-route id="link-to-oferta" class="nav-link text-white" asp-area="" asp-page="/Oferta">Oferta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">
            <div class="row">
                <div clss="col">
                    &copy; 2020 - Kancelaria
                </div>
                <div class="col float-right">
                    <a asp-area="" asp-page="/Admin">Admin</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
