.jumbotron {
    height: 40vh;
    /*background-size: cover;*/
    margin-top: 0px;
  /*  padding-top: 0px;*/
}

.jumbotron-custom-bg {
    background: url('../img/jumbotron41.png') no-repeat ;
    background-size: cover;
    background-position: center 80%;
    /*width: 100%;*/
}

.margin-top-xl {
    margin-top: 80px;
}

.text-dark {
    color: gray;
}


@media (min-width: 100px) {
    .display-4 {
        font-size: 1.5rem;
        margin-top: 20%;
    }
    /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .display-4 {
        margin-top: 5%;
        font-size: 2rem;
    }
    /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .display-4 {
        margin-top: 5%;
        font-size: 2.5rem;
    }
    /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .display-4 {
        font-size: 3rem;
        margin-top: 5%;
    }
    /*1rem = 16px*/
}

.active {
    font-weight: bold;
}
