@page
@model IndexModel
@{
    ViewData["Title"] = "Kancelaria";
}


<div class="jumbotron jumbotron-custom-bg">
    @*<img src="~/img/jumbotron.jpg" alt="Alternate Text" />*@

    <div class="display-4 text-dark">
        Joanna Bieniasz-Łącz
    </div>
    <p class="h4 text-muted">adwokat w Łańcucie</p>

</div>



<div class="row">
    <div class="col-8">
        <div class="card border-light">
            <div class="card-header text-center text-light font-italic h2 bg-dark">Ignorantia iuris nocet</div>
            <div class="card-body">
                <h5 class="card-title">O mnie</h5>
                <p class="card-text text-justify mb-5">Moja kancelaria działa od 2004 roku. Zapewniam wszechstronną pomoc prawną zarówno osobom fizycznym, jak i przedsiębiorcom, w zakresie wszystkich dziedzin prawa, począwszy od spraw cywilnych, karnych, rozwodowych, spadkowych, pracowniczych, administracyjnych, w tym reprezentację moich klientów w sądach i urzędach, po kompleksową obsługę prawną przedsiębiorców.</p>
                <p class="card-text text-justify">Zajmuję się:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Sprawami rodzinnymi i opiekuńczymi</strong> np: rozwody, separacje, alimenty, rozdzielność majątkowa, ustalanie miejsca pobytu dzieci, kontakty z dziećmi, władza rodzicielska, ubezwłasnowolnienia, inne</li>
                    <li class="list-group-item"><strong>sprawami cywilnymi</strong> np.: odszkodowania, windykacja, należności, eksmisje, egzekucje komornicze, powództwa przeciwegzekucyjne, ustanawianie drogi koniecznej, zasiedzenia, rozgraniczenia nieruchomości, uregulowanie stanu prawnego nieruchomości</li>
                    <li class="list-group-item"><strong>sprawami spadkowymi</strong> np.: stwierdzenia nabycia spadku, podziały spadku, inne</li>
                    <li class="list-group-item"><strong>sprawami ubezpieczeń społecznych</strong>  np: odwołania od decyzji ZUS, KRUS, dotyczącymi rent, emerytur, zasiłków i innych świadczeń  z ubezpieczenia społecznego</li>
                    <li class="list-group-item"><strong>sprawami administracyjnymi</strong> np: wnioski o zwrot wywłaszczonych  nieruchomości, z prawa budowlanego, geodezyjnego, odszkodowania</li>
                    <li class="list-group-item"><strong>sprawami karnymi</strong> np.: obrona przed sądem oskarżonego, reprezentacja pokrzywdzonego, odroczenie wykonania kary, przedterminowe zwolnienia</li>
                    <li class="list-group-item"><strong>sprawami pracowniczymi</strong> np: o zapłaty należności, uznanie bezskuteczności wypowiedzenia, przywrócenie do pracy, mobbing, ustalenie istnienia umowy o pracę, inne</li>
                    <li class="list-group-item"><strong>sprawami z prawa kanonicznego<</strong>> np.: wnioski o unieważnienie małżeństwa</li>
                    <li class="list-group-item"><strong>Sporządzam</strong> apelacje, skargi kasacyjne do Sądy Najwyższego, skargi do Trybunału Stanu, skarga do Europejskiego Trybunału Praw Człowieka w Strasburgu</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 float-right">
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Szybki kontakt </div>
            <div class="card-body">
                <p class="card-text">tel: 606 984 711</p>
                <p class="card-text">e-mail: jlacz@wp.pl</p>
                <p class="card-text">Szczegóły w zakładce "Kontakt"</p>
            </div>
        </div>
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Aktualności </div>
            <div class="card-body">
                <p class="card-text font-weight-bold">@Model.LastNews.Header</p>
                <p class="card-text">@Model.LastNews.Body</p>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center  font-weight-bolder mb-10">
    Zacznij dochodzić swoich praw skutecznie!
</h4>
<br />
<br />


