@page
@model WebApp.Pages.KontaktModel
@{
}


<div class="row mt-5">
    <div class="col">
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Kontakt</div>
            <div class="card-body">
                <p class="card-text">tel: 606 984 711</p>
                <p class="card-text">e-mail: jlacz@wp.pl</p>
                <p class="card-text">adres: </p>
            </div>
        </div>
    </div>
    <div>
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Sprawdź na mapie</div>
            <div class="card-body">
                <div class="mapouter mt-5">
                    <div class="gmap_canvas">
                        <iframe width="481" height="316" id="gmap_canvas" src="https://maps.google.com/maps?q=%C5%81ancut%2C%20%20Pi%C5%82sudskiego%204%2F%20p19&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.whatismyip-address.com/nordvpn-coupon/"></a>
                    </div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 316px;
                            width: 481px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 316px;
                            width: 481px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>


