@page
@model WebApp.Pages.OfertaModel
@{
}


<div class="row margin-top-xl">
    <div class="col-md-6">
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Oferta</div>
            <div class="card-body">
                Moje wynagrodzenie uzależnione jest od stopnia zawiłości sprawy, czasochłonności, wartości przedmiotu sprawy.
                Ustalane jest indywidualnie w drodze umowy z klientem.
                Porad prawnych udzielam za wynagrodzeniem  od 70 zł do 120 zł.
            </div>
            <div class="card-body">
                Zakres spraw: XYZ
            </div>
        </div>
    </div>
    <div class="col-md-4 float-right">
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Szybki kontakt </div>
            <div class="card-body">
                <p class="card-text">tel: 606 984 711</p>
                <p class="card-text">e-mail: jlacz@wp.pl</p>
                <p class="card-text">Szczegóły w zakładce "Kontakt"</p>
            </div>
        </div>
        <div class="card border-light">
            <div class="card-header text-light bg-dark">Aktualności </div>
            <div class="card-body">
                <p class="card-text font-weight-bold">@Model.LastNews.Header</p>
                <p class="card-text">@Model.LastNews.Body</p>
            </div>
        </div>
    </div>
</div>

